LITELLM_MASTER_KEY="sk-master-key-admin" # this is your master key for using the proxy server
UI_USERNAME=litellm   # username to sign in on UI
UI_PASSWORD=langchain        # password to sign in on UI