model_list:
  - model_name: qwen2.5-coder:1.5b
    litellm_params:
      model: ollama/qwen2.5-coder:1.5b
      api_base: "http://ollama:11434"

general_settings:
  master_key: sk-master-key-admin

# Manajemen API Key via File (Bisa di-update kapan saja)
litellm_settings:
  saved_keys:
    - api_key: "sk-rahasia-vps-kamu"
      allowed_models: ["qwen2.5-coder:1.5b"]